section.mt-5.mb-5
	.container
		h2.mb-3.text-center Заказать обратный звонок
		form.needs-validation(novalidate)
			.row.justify-content-center
				.col-3
					.mb-3
						label.form-label(for="name") Имя и фамилия
						input.form-control.w-100(
							type="text"
							id="name"
							name="name"
							placeholder="Иван Васильевич"
							required
						)
					.mb-3
						label.form-label(for="name") Емейл
						input.form-control.w-100(
							type="text"
							id="email"
							name="email"
							placeholder="zack@facebook.com"
							required
						)
					.mb-3
						label.form-label(for="name") Телефон
						input.form-control.w-100(
							type="text"
							id="phone"
							name="phone"
							placeholder="+7 (999) 999-99-99"
							required
						)
					button.btn.btn-success.w-100(type="submit") Отправь заявку
		